.myPostsSection {
    padding: 15px;
}

.myPostsTitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.newPostSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.newPostCreateField {
    min-width: 100%;
    min-height: 70px;
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    word-break: break-word;
    resize: vertical;
    &:focus {
        box-shadow: #583981 0 0 10px 1px;
    }
}

.sendPostBtn {
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    background-color: #2a143d;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    &:hover {
        background-color: #aa8200;
        color: #fff;
        text-shadow: #fff 0 0 4px;
        box-shadow: #8a9900 0 0 15px;
    }
}

@media (pointer: fine) {
    .newPostCreateField {
        min-width: 60%;
    }
}