.post {
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.textBlock {
    max-width: 60%;
    margin-left: 20px;
}

.userMessage {
    background-color: #ddd;
    padding: 15px;
    border-radius: 8px;
    word-wrap: break-word;
}

.likesWrapper {
    margin-top: 8px;
}

.likesCount {
    color: #2c045e;
    font-weight: 700;
}