.message {
    display: inline-block;
    color: #652828;
    font-size: 16px;
    word-break: break-word;
    margin-bottom: 25px;
    background-color: #cec4c4;
    padding: 10px 12px;
    border-radius: 8px;
}