.nav {
    background: linear-gradient(#605864, #120b2d);
    border-radius: unset;
}

.nav_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

.item {
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    &:hover {
        background-color: #2d2733;
        color: #fff;
        box-shadow: #72627e 0 0 15px;
    }
}

.item.active {
    color: gold;
}

.item.activeFriends {
    color: gold;
}

.friendsContainer {
    display: none;
}

@media (pointer: fine) {
    .nav {
        background: linear-gradient(rgba(14, 1, 23, 0.39), #706d85, transparent, transparent);
        border-radius: 8px;
    }

    .nav_section {
        flex-direction: column;
    }

    .item {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 7px 12px;
    }

    .friendsContainer {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        margin-top: 25px;
    }

    .item.margin {
        margin-top: 35px;
    }
}